@font-face {
    font-family: Roboto_Bold;
    src: url(/assets/fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: pizarra;
    src: url(/assets/fonts/Sriracha-Regular.ttf);
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}
#container-logo{
    width: 100%;
    height: 70%;
    position: relative;
    float: left;
}

.results {
    width: 100%;
    height: 100%;
    color: white;
    background-image: url("/assets/img/results_bg_desktop.jpg");
    background-size: 100% 100%;
}

#logo-desktop{
    max-width: 90%;
    max-height: 95%;
    display: block;
}

#logo-phone{
    max-width: 90%;
    max-height: 95%;
    display: none;
}

#navContent {
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

#cover{
    background-image: url("/assets/img/results_bg_desktop.jpg");
    background-size: 100% 100%;
}

#link-language{
    text-decoration: none;
    display:inline-block;
    padding-right: 5%;
}

#picture{
    position: relative;
    float: left;
    width: 100%;
    top: 20px;
}

#container{
    width: 100%;
    height: 700px;
    overflow-x: hidden;
}

#game1 {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    text-align: center;
    overflow-x: hidden;
}

#start {
    background-color: #eaa939;
    width: 95%;
    margin: 5px auto;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: Roboto_Bold;
    display: block;
}

#container-language{
    width: 95%;
    margin: 5px auto;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: Roboto_Bold;
    display: block;
}

#game2 {
    width: 100%;
    height: 100%;
    right: -100%;
    position: absolute;
    text-align: center;
    overflow-x: hidden;
}

#numeration {
    color: #eaa939;
    font-size: 12px;
    width: 75px;
    text-align: center;
    background-repeat: no-repeat;
    border: 3px solid #FFFFFF;
    border-radius: 80px;
    font-family: pizarra;
    margin: 5px;
    position: relative;
    float: right;
    padding: 5px 1px 5px 1px;
}

.questionText {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: Roboto_Bold;
    width: 100%;
    overflow-y: hidden;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 30px;
}

#nota{
    color: #eaa939;
}

#language{
    color: white;
    font-family: Roboto_Bold;
    text-align: end;
    position: relative;
    top: 5px;
    right: 10px;
}

#lng{
    text-decoration: none;
    color: white;
    display:inline-block;
    position: relative;
    bottom: 10px;
}

#starter{
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.feedback1{
    position: relative;
    top: 65px;
}

.feedback2{
    position: relative;
    top: 65px;
}

#container2{
    display: inline-block;
}

.option {
    float: left;
    margin: 1.33%;
    width: 30%;
    padding: 5px 1px 5px 1px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    background-color: #eaa939;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    background-size: 100% 100%;
    position: relative;
    top: 20px;
}

#btn {
    margin: 1.33%;
    padding: 5px 1px 5px 1px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    background-color: #eaa939;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    background-size: 100% 100%;
    text-decoration: none;
    display:inline-block;
    width: 45%;
}

#header{
    background-color: #000000;
    float: left;
    width: 100%;
}

#header img{
    float: left;
    max-width: 40%;
    padding: 5px 1px 5px 1px;
}

@media (max-width: 800px) {

    .questionText {
        font-size: 20px;
    }

    #cover{
        background-image: url("/assets/img/results_bg_phone.jpg");
        background-size: 100% 100%;
    }

    #image-logo{
        background-image: url("/assets/img/main_phone.png");
        background-size: 100% 100%;
    }

    .results {
        color: white;
        background-image: url("/assets/img/results_bg_phone.jpg");
        background-size: 100% 100%;
        overflow-y: hidden;
        /*height: 100%;*/
    }

    .option {
        width: 95%;
        margin-left: 2.5%;
    }

    .exit {
        width: 15%;
        margin-left: 2.5%;
    }

    .again {
        width: 75%;
        margin-left: 2.5%;
    }

    #navContent {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
    }

    #header{
        background-color: #000000;
        float: left;
        width: 100%;
    }

    #header img{
        float: left;
        max-width: 55%;
    }


    #numeration {
        width: 50px;
        margin-right: 10px;

    }

    #container-logo{
        position: relative;
        float: left;
    }

    #logo-desktop{
        display: none;
    }

    #logo-phone{
        display: block;
    }

    #link-language{
        width: 25%;
    }

}



